<h3>Edit - Blood Sample</h3>
<div class="custom-form">
<form method="POST" class="post-form custom-form" id="edit-sample-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form__control" name="id" value={{object.id}} hidden>
            <div class="row">
                <div class="col">
                    <label for="CohortId">CohortId:</label>
                    <input type="text" class="form__control" name="CohortId" id="CohortId" value="{{object.CohortId}}" maxlength="7">
                </div>
                <div class="col">
                    <label for="Barcode">Barcode:</label>
                    <input type="text" name="Barcode" class="form__control" id="Barcode" value="{{object.Barcode}}" maxlength="10">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="AppointmentId">Appointment Id:</label>
                    <input type="number" name="AppointmentId" class="form__control" id="AppointmentId" value="{{object.AppointmentId}}">
                </div>
                <div class="col">
                    <label for="State">State:</label>
                    <select name="State" id="State" class="form__control " >
                        <option value="">Please select</option>
                        {% for key, values in STATECHOICE.items %}
                            <option value="{{key}}" {% if object.State == key|stringformat:"i"  %} selected="selected" {% endif %}>{{values}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label for="CreatedAt">Appointment Date:</label>
            <input type="datetime-local" name="CreatedAt" class="form__control" id="CreatedAt" value="{{object.CreatedAt|date:"Y-m-d" }}T{{object.CreatedAt|date:"H:i" }}">



            <label for="Comments">Comments:</label>
            <textarea class="form__control" name="Comments" id="Comments" maxlength="5000">{{object.Comments}}</textarea>
        </div>

</form>
</div>
<em class="error"></em>
<div class="text-right bottom-buttons">
    <button type="button" class="btn btn-cancel cancel-submit-edit">Cancel</button>
    <button type="button" class="btn btn-submit" id="submit_edit_sample">Submit</button>
</div>
<script>
$(document).ready(function(){
    $('.cancel-submit-edit').click(function() {
        $('.review-sample').show();
        $(".customModal").addClass("modal-xl");
        $('.edit-sample-div').html("");
    });
    $('#submit_edit_sample').click(function() {
        $('.modal-loader').show();
        $.ajax({
            url: 'edit_blood_sample?'+$('#edit-sample-form').serialize(),
            type: 'POST',
            processData: false,
            contentType: false,
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(data){
                if (data.status==200){
                    $('.edit-sample-div').html("");
                    $('.review-sample').show();
                    $(".customModal").addClass("modal-xl");

                    if (window.navigation =="False"){
                        twbsPaginator("#pagination_blood_sample", "#sample_table", window.page, window.total_pages,
                        '/review?table=True&type=blood_sample&day='+$('.activeDay').data('activeday')+'&page=');
                    } else{
                        twbsPaginator("#pagination_blood_sample", "#sample_table", window.page, window.total_pages,
                            '/review?table=True&type=blood_sample&day='+$('.reviewBloodDay.activeDay').data('activeday')+'&page=');
                    }
                }else{
                    $('.error').html('Internal server error occured');
                }
                $('.modal-loader').hide();
            }

        });
    });
});
</script>