{% load indigo %}

<fieldset class="form__group {{ group_classes|join:' ' }}">
  {% if is_check %}
    {{ field }}

    {% if field.label %}
      <label for="{{ field.id_for_label }}">{{ field.label }}
        {% if field.field.required %}
          <abbr title="Required">*</abbr>
        {% endif %}
      </label>
    {% endif %}

  {% else %}
    {% if field.label %}
      <label for="{{ field.id_for_label }}">{{ field.label }}:
        {% if field.field.required %}
          <abbr title="Required">*</abbr>
        {% endif %}
      </label>
    {% endif %}

    {{ field }}
  {% endif %}

  {% indigo_field_errors field %}

  {% if field.help_text %}
    <em>{{ field.help_text|safe }}</em>
  {% endif %}
</fieldset>
