{% if objects %}
{% load static %}
<div class="table-responsive">
    <table style="width:100%;border: none;" class="table table-bordered review-table" >
        <tr>
            <th class="blood-sample-header">Cohort Id</th>
            <th class="blood-sample-header">Barcode</th>
            <th class="blood-sample-header">Appointment Date</th>
            <th class="blood-sample-header">Comments</th>
            <th class="blood-sample-header">State</th>
            <th class="manifest-header">Cohort Id</th>
            <th class="manifest-header">Visit</th>
            <th class="manifest-header">Site</th>
            <th class="manifest-header">Room</th>
            <th class="manifest-header">Collection Date Time</th>
            <th class="manifest-header">Comments</th>
            <th class="receipt-header">Cohort Id</th>
            <th class="receipt-header">Barcode</th>
            <th class="receipt-header">Clinic</th>
            <th class="receipt-header">Date Time Taken</th>
            <th class="receipt-header">Received Date Time</th>
            <th class="receipt-header">Volume</th>
            <th class="receipt-header">Sample Id</th>
            <th class="receipt-header">Comments</th>
        </tr>
        {% for item in objects %}
        <tr>
            <td class="blood-sample-col">{{ item.CohortId }}</td>
            <td class="blood-sample-col">{{ item.BloodSampleBarcode }}</td>
            <td class="blood-sample-col">{{ item.CreatedAt }}</td>
            <td class="blood-sample-col"><a rel="tooltip" data-html="true" title="<h6>{{ item.Comments }}</h6>" >{{ item.Comments|truncatechars:20 }}</a></td>
            <td class="blood-sample-col">{{ item.State }}</td>
            <td class="manifest-col">{{ item.ManifestCohortId }}</td>
            <td class="manifest-col">{{ item.Visit }}</td>
            <td class="manifest-col">{{ item.Site }}</td>
            <td class="manifest-col">{{ item.Room }}</td>
            <td class="manifest-col">{{ item.CollectionDateTime }}</td>
            <td class="manifest-col"><a rel="tooltip" data-html="true" title="<h6>{{ item.ManifestComments }}</h6>" >{{ item.ManifestComments|truncatechars:20 }}</a></td>
            <td class="receipt-col">{{ item.ManifestCohortId }}</td>
            <td class="receipt-col">{{ item.ReceiptBarcode }}</td>
            <td class="receipt-col">{{ item.Clinic }}</td>
            <td class="receipt-col">{{ item.DateTimeTaken }}</td>
            <td class="receipt-col">{{ item.ReceivedDateTime }}</td>
            <td class="receipt-col">{{ item.Volume }}</td>
            <td class="receipt-col">{{ item.SampleId }}</td>
            <td class="receipt-col"><a rel="tooltip" data-html="true" title="<h6>{{ item.ReceiptComments }}</h6>" >{{ item.ReceiptComments|truncatechars:20 }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<style>
.blood-sample-col{
    background-color:rgb(184 247 217);
    white-space: nowrap;
}
.manifest-col{
    background-color:rgb(253, 253, 207);
    white-space: nowrap;
}
.blood-sample-header{
    background-color:rgb(192 230 209);
}
.manifest-header{
    background-color:#eaeacb;
}
</style>
{% else %}
No unmatched receipt records found
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
    //$("[rel='tooltip']").tooltip();
    $('[data-toggle="tooltip"]').tooltip()
});
</script>