
{% extends "indigo/template-2col-vertical-nav.html" %}
{% load static %}
{% load indigo %}
{% block page_title %}Login - Summit Blood Sample{% endblock page_title %}
{% block content %}
<style type="text/css">
  .site-content__inner {
      background-image: url("{% static 'indigo/images/citi-img.jpg' %}");
      
      background-size: cover;
  }
  </style>
<h2>Login</h2>
<form method="post">
  {% csrf_token %}

{% indigo_form_errors form %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  {% indigo_field field %}
{% endfor %}
<div class="text-center">
  <a href="/accounts/password_reset">Forgot password?</a>
  <br/>
  <button type="submit" class="mt-2">Login</button>
</div>

</form>
{% endblock content %}

{% comment %}
  {% extends "indigo/template-horizontal-nav-one-col.html" %}
  {% extends "indigo/template-1col-vertical-nav.html" %}
  {% extends "indigo/template-2col-vertical-nav.html" %}
  {% extends "indigo/template-combi-nav-2-col.html" %}
  {% extends "indigo/template-combi-nav-3-col.html" %}
  {% extends "indigo/template-horizontal-nav.html" %}
{% endcomment %}