

{% extends "indigo/template-2col-vertical-nav.html" %}
{% load static %}
{% load indigo %}
{% block page_title %}Password Reset - Summit Blood Sample{% endblock page_title %}
{% block content %}

  {% load i18n %}

{% if validlink %}
<style type="text/css">
  .site-content__inner {
      background-image: url("{% static 'indigo/images/citi-img.jpg' %}");
      
      background-size: cover;
  }
  </style>
<style type="text/css">
  .site-content__inner {
      background-image: url("{% static 'indigo/images/citi-img.jpg' %}");
      
      background-size: cover;
  }
  </style>
  <h2>Set a new password!</h2>

  <form method="POST">

    {% csrf_token %}
    {% indigo_form_errors form %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  {% indigo_field field %}
{% endfor %}
<button type="submit">Change my password</button>
  </form>
  {% else %}

  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}



{% endblock %}
