
{% extends "indigo/template-2col-vertical-nav.html" %}
{% load indigo %}
{% load static %}
{% block page_title %}Change Password - Summit Blood Sample{% endblock page_title %}
{% block content %}
<style type="text/css">
  @media (min-width: 990px) {
    .layout-vertical--nav-2col .site-content__main {
      max-width: 470px;
      width: 470px;
    }
  }
  
    .site-content__inner {
        background-image: url("{% static 'indigo/images/citi-img.jpg' %}");
        
        background-size: cover;
    }
    </style>
<h2>Change Password</h2>


  <form method="POST">
    {% csrf_token %}
    {% indigo_form_errors form %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  {% indigo_field field %}
{% endfor %}
<button type="submit">Submit</button>
  </form>
{% endblock %}
