

{% extends "indigo/template-2col-vertical-nav.html" %}
{% load static %}
{% load indigo %}
{% block page_title %}Password Reset Done - Summit Blood Sample{% endblock page_title %}
{% block content %}
<style type="text/css">
  .site-content__inner {
      background-image: url("{% static 'indigo/images/citi-img.jpg' %}");
      
      background-size: cover;
  }
  </style>
<div class="success-checkmark">
  <div class="check-icon">
    <span class="icon-line line-tip"></span>
    <span class="icon-line line-long"></span>
    <div class="icon-circle"></div>
    <div class="icon-fix"></div>
  </div>
</div>
<h2>Email Sent</h2>
  <h6>Check your inbox.</h6>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}
