<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
    }
    
    .pagination a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
    </head>
{% load static %}
<div id="download_blood_sample">
    <br>
    <h3>Download Blood Sample <span class="float-right"><img class="btn-svg filteroptions" id="filteroptions" src="{% static 'indigo/images/filter.svg' %}"  />
    <img class="btn-svg SettingsOptions" id="SettingsOptions" src="{% static 'indigo/images/gear.svg' %}" /></span></h3>
    <br>
    {% if "No Records to Display" == db_data %}
      <h1>{{db_data}}</h1>
    {% else %}
    <div id="sample_table_download"></div>
    <div id="pagination_blood_sample_download" class="pagination-md pull-right"></div></br>
    <div class="text-right">
    <a class="pull-left btn custom-btn dwncsvblood" type = "button" style="color:white ;" id="downloadcsvbloodSample">Download Blood Sample</a>
    </div>
    {% endif %}
</div>
<script  type="text/javascript">
    var settings = "{{settings|safe}}";
    var filters = "{{filters|safe}}";
    $(document).ready(function(){
      twbsPaginator("#pagination_blood_sample_download", "#sample_table_download", "{{current_page}}", "{{total_pages}}",
            '/download_blood_sample?filters='+filters+'&settings='+settings+'&table=True&page=');
    $('.dwncsvblood').click(function() {
      this.setAttribute("href", '/download_blood_sample?csv=true&filters='+filters+'&settings='+settings);
    });
    $('.filteroptions').click(function() {
    $('.modal-loader').show();
    $("#blood-sample-modal").modal();
    $.ajax({
    url: '/filter_options?filters='+filters+'&settings='+settings,
    type: 'GET',
    success: function(data){
            $('.modal-body').html(data);
            $('.modal-loader').hide();
        }
});
});
$('.SettingsOptions').click(function() {
    $('.modal-loader').show();
    $("#blood-sample-modal").modal();
    $.ajax({
    url: '/settings_options?settings='+settings+'&filters='+filters,
    type: 'GET',
    success: function(data){
            $('.modal-body').html(data);
            $('.modal-loader').hide();
        }
});
});
});
</script>

