{% load static %}
<div id="download_aliquots">
    <br>
    {% if "No Records to Display" == db_data %}
      <h1>{{db_data}}</h1>
    {% else %}
    <div id="aliquots_table_download"></div>
    <div id="pagination_aliquots_download" class="pagination-md pull-right"></div>
    <div class="text-left">
    <!-- <button  class="btn custom-btn dwncsvaliquots" id="downloadcsvaliquots"></button> -->
    <a class="pull-left btn custom-btn dwncsvaliquots" type = "button" style="color:white ;" id="downloadcsvaliquots">Download Aliquots</a>
    {% endif %}
    </div>
</div>
<script>
    $(document).ready(function(){
    twbsPaginator("#pagination_aliquots_download", "#aliquots_table_download", "{{current_page}}", "{{total_pages}}",
          '/download_aliquots?table=True&page=');
    $('.dwncsvaliquots').click(function() {
      this.setAttribute("href", '/download_aliquots?csv=true');
    });
        });
</script>