{% if objects %}
    {% load static %}
    <div class="table-responsive">
        <table style="width:100%" class="table table-bordered download-table">
            {% if bs_len != 0 %}
            <colgroup>
                <col span="{{bs_len}}" style="background-color:rgb(184 247 217)">
                </colgroup>
            {% endif %}
            {% if mr_len != 0 %}
                <col span="{{mr_len}}" style="background-color:rgb(253, 253, 207)">
                </colgroup>
            {% endif %}
            {% if rr_len != 0 %}
                <col span="{{rr_len}}" style="background-color:rgb(132 186 198 / .4)">
                </colgroup>
            {% endif %}
            {% if pr_len != 0 %}
                <col span="{{pr_len}}" style="background-color:rgb(231 109 82 / .4)">
                </colgroup>
            {% endif %}
            {% for data in objects %}
            <tr scope="row">
                {% for val in data %}
                {% if val == 'some text some text some text some text some text' %}
                <td><a rel="tooltip" data-html="true" title="<h6>{{ val }}</h6>" >{{ val|truncatechars:10 }}</a></td>
                {% else %}
                <td>{{ val }}</td>
                {% endif %}
                {% endfor %}
            </tr >
            {% endfor %}
        </table>
    </div>
{% endif %}
<script>
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();
});
</script>