{% load static %}
<div id="download_blood_sample">
    <br>
    <h3>Download Aliquots <span class="float-right"><img class="btn-svg filteraliquots" id="filteraliquots" src="{% static 'indigo/images/filter.svg' %}"  />
    <img class="btn-svg SettingsOptions" id="filteroptions" src="{% static 'indigo/images/gear.svg' %}" /></span></h3>
    <br>
    <table style="width:100%" class="table table-bordered download-table">
        {% for data in db_data %}
        <tr scope="row">
            {% for val in data %}
            <td >
                {{ val }}
            </td>
            {% endfor %}
        </tr >
        {% endfor %}
    </table>
    <div class="text-right">
    <button type="button" class="btn custom-btn dwncsvblood" id="downloadcsvbloodSample">Download Aliquots</button>
    </div>
</div>
<script  type="text/javascript">
    $(document).ready(function(){
    $('.dwncsvblood').click(function() {
        $.ajax({
        url: '/download_blood_sample_csv',
        type: 'GET',
    });
    });
    $('.filteraliquots').click(function() {
    $('.modal-loader').show();
    $("#blood-sample-modal").modal();
    $.ajax({
    url: '/filter_aliquots',
    type: 'GET',
    success: function(data){
            $('.modal-body').html(data);
            $('.modal-loader').hide();
        }
});
});
$('.SettingsOptions').click(function() {
    $('.modal-loader').show();
    $("#blood-sample-modal").modal();
    $.ajax({
    url: '/settings_aliquots',
    type: 'GET',
    success: function(data){
            $('.modal-body').html(data);
            $('.modal-loader').hide();
        }
});
});
    });
    </script>

