<div id="filter_Aliquots" class="site-content__main custom-modal-content">
    <h3>Filter Options</h3>
    <form method="GET" class="post-form custom-form">
            {% csrf_token %}
            <div class="form-group">
                <!-- context = {'samples': dist_sample, 'volumes': dist_volume, 'units': dist_unit, 'status':dist_status} -->
                <label for="Sample">Sample type:</label>
                <select name="Sample" id="Sample" class="form__control">
                    <option value="">Please Select</option>
                    {% for sample in samples %}
                        <option value="{{sample}}">{{sample}}</option>
                    {% endfor %}
                </select>
                <label for="Volume">Volume:</label>
                <select name="Volume" id="Volume" class="form__control">
                    <option value="">Please Select</option>
                    {% for volume in volumes %}
                        <option value="{{volume}}">{{volume}}</option>
                    {% endfor %}
                </select>
                <!-- <label for="Unit">Volume unit:</label>
                <select name="Unit" id="Unit" class="form__control">
                    <option value="">Please Select</option>
                    {% for unit in units %}
                        <option value="{{unit}}">{{unit}}</option>
                    {% endfor %}
                </select> -->
                <label for="Status">Post processing status:</label>
                <select name="Status" id="Status" class="form__control">
                    <option value="">Please Select</option>
                    {% for stat in status %}
                        <option value="{{stat}}">{{stat}}</option>
                    {% endfor %}
                </select>
            </div>
    </form>
    <em class="error"></em>
    <div class="text-right bottom-buttons">
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-submit" id="filter-aliquot-submit">Submit</button>
    </div>
</div>

<script>
    $('body').delegate('#filter-aliquot-submit', 'click',function() {
        $('.modal-loader').show();
        $.ajax({
            url: '/download_aliquots?Sample='+$('#Sample').val()+'&Volume='+$('#Volume').val()+'&Status='+$('#Status').val(),
            type: 'GET',
            success: function(data){
                $('.modal-loader').hide();
                $("#blood-sample-modal").modal('toggle');
                $('#DownloadContainer').html(data);
            }
        });
    });
    </script>