{% extends "indigo/template-horizontal-nav-one-col.html" %}
{% load static %}
{% load blood_sample %}
{% block page_title %}Welcome to UCL - Summit Blood Sample{% endblock page_title %}
{% block content %}
{% if user.is_authenticated %}
{% user_is_entry_admin_tag user as admin %}
{% user_is_entry_datamanager_tag user as datamanager %}
{% user_is_entry_bloodsamplemanager_tag user as bloodsamplemanager %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-tab="home" data-toggle="tab-ajax" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    {% if admin or datamanager %}
      <a class="nav-item nav-link" id="nav-upload-tab" data-tab="upload" data-toggle="tab-ajax" href="#nav-upload" role="tab" aria-controls="nav-upload" aria-selected="false">Uploads</a>
      <a class="nav-item nav-link" id="nav-review-tab" data-tab="review" data-toggle="tab-ajax" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Review</a>
    {% endif %}


    <a class="nav-item nav-link" id="nav-download-tab" data-tab="download" data-toggle="tab-ajax" href="#nav-download" role="tab" aria-controls="nav-download" aria-selected="false">Download</a>
    <a class="nav-item nav-link" id="nav-report-tab" data-tab="report" data-toggle="tab-ajax" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Reports</a>
    {% if admin %}
    <a class="nav-item nav-link" href="{% url 'admin:auth_user_changelist' %}" aria-controls="nav-admin" aria-selected="false">User Management</a>
    {% endif %}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div id="home-container">
    </div>
  </div>
  <div class="tab-pane fade show" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
    <div id="upload-container"></div>
  </div>
  <div class="tab-pane fade show" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">{% include 'review-tab.html' %}</div>
  <div class="tab-pane fade show" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">{% include 'download.html' %}</div>
  <div class="tab-pane fade show" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab" style="background:rgb(158 158 158 / 0.2)">{% include 'reports/reports.html' %}</div>
</div>
{% else %}
<h4 class="">You are not logged in <a href="{% url 'login' %}">login</a></h4>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
  $('.modal-loader').show();
  function getHome(){
      $.ajax({
          url: '/home_tab',
          type: 'GET',
          success: function(data){
                  $('#home-container').html(data);
                  $('.modal-loader').hide();
              }
      });
  }
  function getUpload(day){
      $.ajax({
          url: '/upload?day='+day,
          type: 'get',
          success: function(data){
              $('#upload-container').html(data);
              $('.modal-loader').hide();
          }
      });
  }
  getHome();
  $('[data-toggle="tab-ajax"]').click(function(e) {
    $('.modal-loader').show();
    if ($(this).attr('data-tab')=='home'){
      getHome();
    } else if($(this).attr('data-tab')=='upload'){
      getUpload();

    } else if($(this).attr('data-tab')=='download'){
      $('#downloadbloodSample').click();
    } else if($(this).attr('data-tab')=='report'){
      Highcharts.setOptions({
          chart: {
              style: {
                  fontFamily: 'Open Sans, sans-serif'
              }
          }
      });

      $.ajax({
          url: '/charts',
          type: 'get',
          success: function(data){
              $('.modal-loader').hide();
              Highcharts.chart('blood-sample-status', {
                  chart: {
                      type: 'column',
                      zoomType: 'xy',
                      "height": 500,
                      borderWidth: 0,
                      borderRadius: 5,
                      plotBackgroundColor: null,
                      plotShadow: false,
                      plotBorderWidth: 0
                  },

                  title: {
                      text: 'Final states by days'
                  },
                  /*mapNavigation: {
                      enableMouseWheelZoom: true
                  },*/
                  navigator: {
                      enabled: true,
                      xAxis: {
                          startOnTick: false,
                          labels: {
                          formatter: function() {
                              return '';
                          }
                          },
                          tickPositions: []
                      }
                  },
                  xAxis: {
                      categories: data.dates,
                      scrollbar: {
                          enabled: false
                      },
                      title: {
                          text: 'Days',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          }
                      },
                      labels: {
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                          }
                      },
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Blood sample count',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          },
                          labels: {
                              style: {
                                  color: 'black',
                                  'font-weight': '500',
                                  'font-size': '12px',
                              },
                              //overflow: 'justify'
                          },
                      },

                      stackLabels: {
                          enabled: false,
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                              color: ( // theme
                                  Highcharts.defaultOptions.title.style &&
                                  Highcharts.defaultOptions.title.style.color
                              ) || 'gray'
                          }
                      }
                  },
                  legend: {
                      align: 'right',
                      x: 0,
                      verticalAlign: 'top',
                      y: -5,
                      floating: false,
                      backgroundColor:
                          Highcharts.defaultOptions.legend.backgroundColor || '#efeeee',
                      borderColor: '#CCC',
                      borderWidth: 1,
                      shadow: true,
                      itemStyle: {
                          color: 'black',
                          'font-weight': '600',
                          'font-size': '12px',
                      }

                  },
                  tooltip: {
                      headerFormat: '<b>{point.x}</b><br/>',
                      pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}',
                      //footerFormat: '</table>',
                      //shared: true,
                      //useHTML: true
                  },
                  plotOptions: {
                      column: {
                          stacking: 'normal',
                          dataLabels: {
                              enabled: false,
                          },

                      },

                  },
                  colors: ['rgb(0 114 178)','rgb(0 158 115)','rgb(213 94 0)','rgb(86 180 233)','rgb(240 228 66)'],

                  rangeSelector: {
                      selected: 1
                  },
                  series: data.data,

                  credits: {
                              enabled: false
                          },
                  exporting: {
                          buttons: {
                          contextButton: {
                              menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'printChart')
                          }
                          }
                      }
              });

              Highcharts.chart('nurse-unable-draw', {
                  chart: {
                      type: 'column',
                      zoomType: 'xy',
                      "height": 500,
                      borderWidth: 0,
                      borderRadius: 5,
                      plotBackgroundColor: null,
                      plotShadow: false,
                      plotBorderWidth: 0
                  },
                  title: {
                      text: 'Unable to draw split by nurse'
                  },
                  navigator: {
                      enabled: true,
                      xAxis: {
                          startOnTick: false,
                          labels: {
                          formatter: function() {
                              return '';
                          }
                          },
                          tickPositions: []
                      }
                  },
                  xAxis: {
                      type: 'category',
                      scrollbar: {
                          enabled: false
                      },
                      title: {
                          text: 'Nurses',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          }
                      },
                      labels: {
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                          },
                          overflow: 'justify',
                          useHTML: true,
                          formatter: function () {
                              var x = this.value;
                              if (x.length > 8) {
                                  return '<div class="hastip" title="' + x + '">' + x.substring(0,8) + '...' + '</div>';
                              }
                              return '<div class="hastip" title="' + x + '">' + x +'</div>';
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: '% cases where blood can not be drawn',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          },
                          labels: {
                              style: {
                                  color: 'black',
                                  'font-weight': '500',
                                  'font-size': '12px',
                              },
                              //overflow: 'justify'
                          },
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  tooltip: {
                      formatter () {
                          const pointData = data.nurse_day.find(row => row.y === this.point.y)
                          return '<b>'+pointData.x+'</b><br/> Unable to Draw: <b>'+this.point.y+'%</b> <br/>Total Blood Drawn: <b>'+pointData.countData+'</b>'
                      }
                      //pointFormat: 'Unable to Draw: <b>{point.y:.1f}%</b> <br/>Total Blood Drawn: <b>{point.countData}</b>'
                  },
                  colors: ['rgb(0 114 178)','rgb(0 158 115)','rgb(213 94 0)','rgb(86 180 233)','rgb(240 228 66)'],
                  plotOptions: {column: {colorByPoint: true}},
                  series:[ {
                              name: 'Nurse Data',
                              data: data.nurse_day.map(row => [row.x, row.y])

                          }],
                  /*[{
                      name: 'Nurse Data',
                      data: data.nurse_day,
                  }],*/
                  credits: {
                      enabled: false
                  },
                  exporting: {
                      buttons: {
                      contextButton: {
                          menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'printChart')
                      }
                      }
                  }
              });

              Highcharts.chart('site-final-status', {
                  chart: {
                      type: 'column',
                      zoomType: 'xy',
                      "height": 500,
                      borderWidth: 0,
                      borderRadius: 5,
                      plotBackgroundColor: null,
                      plotShadow: false,
                      plotBorderWidth: 0
                  },

                  title: {
                      text: 'Unresolved cases by site'
                  },

                  navigator: {
                      enabled: true,
                      xAxis: {
                          startOnTick: false,
                          labels: {
                          formatter: function() {
                              return '';
                          }
                          },
                          tickPositions: []
                      }
                  },
                  xAxis: {
                      categories: data.site_dates,
                      scrollbar: {
                          enabled: false
                      },
                      title: {
                          text: 'Days',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          }
                      },
                      labels: {
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                          }
                      },
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Cases that need to be resolved',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          },
                          labels: {
                              style: {
                                  color: 'black',
                                  'font-weight': '500',
                                  'font-size': '12px',
                              },
                              //overflow: 'justify'
                          },
                      },

                      stackLabels: {
                          enabled: false,
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                              color: ( // theme
                                  Highcharts.defaultOptions.title.style &&
                                  Highcharts.defaultOptions.title.style.color
                              ) || 'gray'
                          }
                      }
                  },
                  legend: {
                      align: 'right',
                      x: 0,
                      verticalAlign: 'top',
                      y: -5,
                      floating: false,
                      backgroundColor:
                          Highcharts.defaultOptions.legend.backgroundColor || '#efeeee',
                      borderColor: '#CCC',
                      borderWidth: 1,
                      shadow: true,
                      itemStyle: {
                          color: 'black',
                          'font-weight': '600',
                          'font-size': '12px',
                      }
                  },
                  tooltip: {
                      headerFormat: '<b>{point.x}</b><br/>',
                      pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}',
                      //footerFormat: '</table>',
                      //shared: true,
                      //useHTML: true
                  },
                  plotOptions: {
                      column: {
                          stacking: 'normal',
                          dataLabels: {
                              enabled: false
                          }
                      },

                  },

                  colors: ['rgb(0 114 178)','rgb(0 158 115)','rgb(240 228 66)','rgb(213 94 0)'],

                  series: data.site_data,

                  credits: {
                              enabled: false
                          },
                  exporting: {
                          buttons: {
                          contextButton: {
                              menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'printChart')
                          }
                          }
                      }
              });
              Highcharts.chart('processed-not-on-time', {
                  chart: {
                      type: 'column',
                      zoomType: 'xy',
                      "height": 500,
                      borderWidth: 0,
                      borderRadius: 5,
                      plotBackgroundColor: null,
                      plotShadow: false,
                      plotBorderWidth: 0
                  },
                  title: {
                      text: 'Cases that were receipted outside of '+data.processed_hours+' hours'
                  },
                  navigator: {
                      enabled: true,
                      xAxis: {
                          startOnTick: false,
                          labels: {
                          formatter: function() {
                              return '';
                          }
                          },
                          tickPositions: []
                      }
                  },
                  xAxis: {
                      type: 'category',
                      scrollbar: {
                          enabled: false
                      },
                      title: {
                          text: 'Days',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          }
                      },
                      labels: {
                          style: {
                              color: 'black',
                              'font-weight': '500',
                              'font-size': '12px',
                          },
                          overflow: 'justify',
                          useHTML: true,
                          formatter: function () {
                              var x = this.value;
                              return '<div class="hastip" title="' + x + '">' + x +'</div>';
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: 'Cases processed outside of '+data.processed_hours+' hours',
                          style:{
                              color: 'black',
                              'font-weight': '600',
                              'font-size': '13px',
                          },
                          labels: {
                              style: {
                                  color: 'black',
                                  'font-weight': '500',
                                  'font-size': '12px',
                              },
                              //overflow: 'justify'
                          },
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  tooltip: {
                      pointFormat: 'Not Processed on Time: <b>{point.y}</b>'// <br/>Total Blood Drawn: {this.x}'
                  },
                  colors: ['rgb(0 158 115)'],
                  series: [{
                      name: 'Not processed on time data',
                      data: data.processed_not_ontime,
                      //borderColor: 'rgb(163 237 186)',
                      //borderWidth: 2,
                  }],
                  credits: {
                      enabled: false
                  },
                  exporting: {
                      buttons: {
                      contextButton: {
                          menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'printChart')
                      }
                      }
                  }
              });
          }
      });
    } else{
      $('.modal-loader').hide();
    }
    $(this).tab('show');
  })

  $('body').delegate('.uploadDay', 'click',function() {
      $(".md-step").addClass("active");
      $(this).removeClass("active");
      getUpload($(this).data('currentday'));
  });
});
</script>


{% endblock content %}