{% extends "indigo/template-horizontal-nav-one-col.html" %}
{% comment %} {% block breadcrumb_links %} <h2>Home</h2> {% endblock breadcrumb_links %} {% endcomment %}

{% block content %}
{% if user.is_authenticated %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-upload-tab" data-toggle="tab" href="#nav-upload" role="tab" aria-controls="nav-upload" aria-selected="false">Uploads</a>
    <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Review</a>
    <a class="nav-item nav-link" id="nav-download-tab" data-toggle="tab" href="#nav-download" role="tab" aria-controls="nav-download" aria-selected="false">Download</a>
    <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Reports</a>
    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
    <a class="nav-item nav-link disabled" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Test</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Home</div>
  <div class="tab-pane fade show" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">upload</div>
  <div class="tab-pane fade show" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">review</div>
  <div class="tab-pane fade show" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">download</div>
  <div class="tab-pane fade show" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">report</div>
  <div class="tab-pane fade show" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">about</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Contact</div>
</div>
{% else %}
<h4 class="">You are not logged in <a href="{% url 'login' %}">login</a></h4>
{% endif %}


{% endblock content %}