{% load static %}
<div class="site-content__main custom-modal-content">
    <h3>3-Processed Loaded</h3>
    <div class="custom-form">
        <h6 >File loaded: </h6>
        <h6><img class="warning-svg" src="{% static 'indigo/images/correct.svg' %}" />  {{ processed_on_time }} processed correctly</h6>
        <h6><img class="warning-svg" src="{% static 'indigo/images/error.svg' %}" />  {{ processed_not_on_time }}  not processed on time</h6>
        <h6><img class="warning-svg" src="{% static 'indigo/images/error.svg' %}" />  {{ less_aliquots_cnt }} with <6 aliquots</h6>
        <h6><img class="warning-svg" src="{% static 'indigo/images/error.svg' %}" />  {{barcode_existance}} new records does not exists in manifest.</h6>
    </div>
    <div class="text-right bottom-buttons">
        <button type="button" class="btn btn-submit" data-dismiss="modal">OK</button>
    </div>
</div>
<style>
.warning-svg{
    width: 31px;
    height: 25px;
    margin-bottom: -6px;
}
</style>