{% load humanize %}
{% now "d b" as todays_date %}
{% include "day-nav.html" %}
<div class="container upload-container">

	<div>
	<!-- completed -->
	<div class="step {% if blood_samples_imported != 0 or blood_samples_cnt != 0 %}completed {% else %} active {% endif %}">
		<div class="v-stepper">
			<div class="circle"></div>
			<div class="line"></div>
		</div>

		<div class="step-content">
			<button type="button" style="margin: 0px 43px;" class="btn custom-btn" id="bloodSample" >Blood Sample</button>
			<span>{{ blood_samples_cnt|intcomma  }} number of new blood samples are uploaded</span>
			<button type="button" style="margin: 0px 43px;" class="btn custom-btn reviewBtn" data-review="blood_sample" {% if blood_samples_cnt != 0 and active|date:"d b" != todays_date %}enabled{% elif blood_samples_imported == 0 %}disabled{% endif %}>Review</button>
		</div>
	</div>


	<div class="step {% if manifest_loaded_count != 0 %} completed {% elif blood_samples_imported != 0 and manifest_imported != 0 %} completed {% elif blood_samples_imported == 0 and manifest_imported == 0 %} {% else %} active {% endif %}">
		<div class="v-stepper">
		<div class="circle"></div>
		<div class="line"></div>
		</div>

		<div class="step-content">
		<button type="button" style="margin: 0px 43px;" class="btn custom-btn" id="manifest" {% if blood_samples_cnt != 0 and active|date:"d b" != todays_date %}enabled{% elif blood_samples_imported != 0 and active|date:"d b" != todays_date %}enabled{% elif blood_samples_imported == 0 or not reviewed %}disabled{% endif %}>Manifest</button>
		<span>{{no_of_files_uploaded|intcomma}} file(s) are uploaded with {{ manifest_loaded_count|intcomma }} number of new manifest records</span>
		<button type="button" style="margin: 0px 43px;" class="btn custom-btn reviewBtn" data-review="manifest" {% if manifest_loaded_count != 0 and active|date:"d b" != todays_date %}enabled{% elif manifest_imported == 0 or not reviewed %}disabled{% endif %}>Review</button>
		</div>
	</div>


	<div class="step {%if receipt_loaded_cnt != 0 %} completed {% elif manifest_imported != 0 and receipt_imported != 0 %} completed {% elif manifest_imported == 0 and receipt_imported == 0 %} {% else %} active {% endif %}">
		<div class="v-stepper">
			<div class="circle"></div>
			<div class="line"></div>
		</div>

		<div class="step-content">
			<button type="button" id="receipt" style="margin: 0px 43px;" class="btn custom-btn" {% if manifest_loaded_count != 0 and active|date:"d b" != todays_date %}enabled{% elif manifest_imported == 0 or not reviewed %}disabled{% endif %}>Receipt</button>
			<span>{{ receipt_loaded_cnt|intcomma }} number of blood samples are received</span>
			<button type="button" style="margin: 0px 43px;" class="btn custom-btn reviewBtn" data-review="receipt" {% if receipt_loaded_cnt != 0 and active|date:"d b" != todays_date %}enabled{% elif receipt_imported == 0 or not reviewed %}disabled{% endif %}>Review</button>
		</div>
	</div>
	<div class="step {% if processed_imported != 0 %} completed {% elif processed_imported != 0 and not receipt_imported %} completed {% elif processed_imported == 0 and receipt_imported == 0 %} {% else %} active {% endif %}">
		<div class="v-stepper">
			<div class="circle"></div>
			<div class="line"></div>
		</div>

		<div class="step-content">
			<button type="button" id="processed" style="margin: 0px 43px;" class="btn custom-btn" {% if receipt_loaded_cnt != 0 and active|date:"d b" != todays_date %}enabled{% elif receipt_imported == 0 or not reviewed %}disabled{% endif %}>Processed</button>
			<span>{{ processed_imported|intcomma }} number of blood samples are processed</span>
			<button type="button" style="margin: 0px 43px;" class="btn custom-btn reviewBtn" data-review="processed" {% if processed_imported != 0 and active|date:"d b" != todays_date %}enabled{% elif processed_imported == 0 or not reviewed %}disabled{% endif %}>Review</button>
		</div>
	</div>
	</div>

</div>

<script  type="text/javascript">
$(document).ready(function(){
    $('#bloodSample').click(function() {
		$('.modal-loader').show();
		$("#blood-sample-modal").modal();
        $.ajax({
            url: '/upload_blood_sample',
            type: 'get',
            success: function(data){
                $('.modal-body').html(data);
				$('.modal-loader').hide();
            }
        });
    });
    $('#manifest').click(function() {
		$('.modal-loader').show();
		$("#blood-sample-modal").modal();
        $.ajax({
            url: '/upload_manifest',
            type: 'get',
            success: function(data){
                $('.modal-body').html(data);
				$('.modal-loader').hide();
            }
        });
    });
	$('#receipt').click(function() {
		$('.modal-loader').show();
		$("#blood-sample-modal").modal();
        $.ajax({
            url: '/upload_receipt',
            type: 'get',
            success: function(data){
                $('.modal-body').html(data);
				$('.modal-loader').hide();
            }
        });
    });
	$('#processed').click(function() {
		$('.modal-loader').show();
		$("#blood-sample-modal").modal();
        $.ajax({
            url: '/upload_processed',
            type: 'get',
            success: function(data){
                $('.modal-body').html(data);
				$('.modal-loader').hide();
            }
        });
    });
	$('.reviewBtn').click(function() {
		$('.modal-loader').show();
		$("#blood-sample-modal").modal();
		$(".customModal").addClass("modal-xl");


		$.ajax({
            url: '/review?firstOpen=True&type='+$(this).data('review')+'&day='+$('.activeDay').data('activeday'),
            type: 'get',
            success: function(data){
                $('.modal-body').html(data);
				$('.modal-loader').hide();
				$.ajax({
					url: '/upload?day='+$('.activeDay').data('currentday'),
					type: 'get',
					success: function(data){
						$('#upload-container').html(data);
						$('.modal-loader').hide();
					}
				});
            }
        });
	});


});
</script>