<div class="modal fade" id="addUserTypeModal" style="margin-left: -16px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add User Type</h4>
      </div>
      <div class="modal-body">
        {{ add_user_type_form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" name="btnAddUserTypeModal" class="btn bg-red-gradient">Add</button>
        <button type="button" name="btnCancelModal" class="btn bg-aqua-gradient" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>