<div class="modal fade" id="blockConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Block Confirmation</h4>
      </div>
      <div class="modal-body">
        Do you really want to block the user?
      </div>
      <div class="modal-footer">
        <button type="submit" name="btnBlockYesModal" class="btn btn-soft-green">Yes</button>
        <button type="button" name="btnCancelModal" class="btn btn-soft-red" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>