<div class="modal fade" id="deleteConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>
      <div class="modal-body">

        <p style="font-size: 20px;">
          <i class="fa fa-warning" style="float: left; margin-right: 10px;"></i>Do you really want to delete? It will delete all the related record(s).
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" name="btnDeleteYesModal" class="btn5">Yes</button>
          <button type="button" name="btnCancelModal" class="btn5" data-dismiss="modal" style="opacity:0.6;background:red;">No</button>
      </div>
    </div>
  </div>
</div>