<div class="modal fade" id="editUserModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h4 class="modal-title  mx-auto">Edit User</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button id="btnEditUserModal" name="btnEditUserModal" type="button" class="btn5">Submit</button>
        <button type="button" class="btn5" data-dismiss="modal" style="opacity:0.6;background:red;">Cancel</button>
      </div>
      </div>
  </div>
</div>