<div class="modal fade" id="unblockConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Unblock Confirmation</h4>
      </div>
      <div class="modal-body">
        Do you really want to unblock the user?
      </div>
      <div class="modal-footer">
        <button type="submit" name="btnUnblockYesModal" class="btn btn-soft-green">Yes</button>
        <button type="button" name="btnCancelModal" class="btn btn-soft-red" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>